body{
  font-family:Arial;
  background:#0f172a;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.hidden{display:none;}

.login,.chat{
  background:#1e293b;
  padding:20px;
  border-radius:10px;
  width:350px;
}

input{
  width:100%;
  padding:10px;
  margin:5px 0;
  border-radius:6px;
  border:none;
}

button{
  width:100%;
  padding:10px;
  background:#38bdf8;
  border:none;
  border-radius:6px;
  font-weight:bold;
}

.messages{
  height:300px;
  overflow-y:auto;
  background:#020617;
  padding:10px;
  border-radius:6px;
}

.msg{
  margin:5px;
}
